node_modules/**
dist/**
**/dist/**
**/packages/mail-export/dist/**
tests/inputs/**
**/node_modules/**
**/packages/mail-export/node_modules/**
*.idea/**
*.html
*.yml
.vscode/**
*.pdf
qodana.yaml
/tests/outputs/2023000401 Proof of submission.png
tests.ts
/tests.d.ts
/tests.d.ts.map
/tests.js
